<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171697159316-tsultr65755oknjg19u1p0mhph086vab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171697159316-tsultr65755oknjg19u1p0mhph086vab</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>171697159316-9hb485joqheqjmffmvpnadhp1regj0dg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSfLq5X5frl1HnNkryW1Rv5FP7Wwy5UD4</string>
	<key>GCM_SENDER_ID</key>
	<string>171697159316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.disha.elearning</string>
	<key>PROJECT_ID</key>
	<string>disha-elearning</string>
	<key>STORAGE_BUCKET</key>
	<string>disha-elearning.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171697159316:ios:1fc22145235553d4f1c881</string>
</dict>
</plist>